<mat-dialog-content class="mat-typography">
    <div class="dialog_popup-container">
        <div class="dept-name active department_container-view3">Physics</div>
        <ul>
            <li class="subject-name tooltip-content">Superposition</li>
            <li class="subject-name tooltip-content">Electric fields</li>
            <li class="subject-name tooltip-content">Current of electricity</li>
            <li class="subject-name tooltip-content">D.C. circuits</li>
            <li class="subject-name tooltip-content">Particle and nuclear physics</li>
        </ul>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>