<header>
   <section class="filter-list header_container">
        <a class="btn btn-expand" routerLink="/departments" routerLinkActive="active">+</a>
            <div class="department-list">   
            <div class="department">
            <div class="dept-name active">
                <a class="btn_department" routerLink="/" routerLinkActive="active">All Departments</a>
            </div>
                <div class="subjects-wrapper">
                <div class="subject-name active">All Subjects</div>
            </div>
         </div>
    </div>
    </section>
</header>
