<app-header></app-header>
<router-outlet></router-outlet> 
<div class="body-wrapper">
  <section>
      <div class="data-wrapper">
<ul class="filtered-student">               
              <li>
                  <span class="name">{{familyName[0]}}, {{givenName[0]}}</span>
                  <span class="dob">DOB: <span class="value">{{dob[0]}}</span></span>
                  <span class="admit-date">Admitted: <span class="value">{{admitDate}}</span></span>
                  <span class="grad-date">Anticipated Graduation: <span class="value">{{anticipatedGraduationDate[0]}}</span></span>
                  <span class="mentor">Mentor: <span class="value">{{mentor[0]}}</span></span>
              </li>     
            <li>
                  <span class="name">{{familyName[1]}}, {{givenName[1]}}</span>
                  <span class="dob">DOB: <span class="value">{{dob[1]}}</span></span>
                  <span class="admit-date">Admitted: <span class="value">{{admitDate}}</span></span>
                  <span class="grad-date">Anticipated Graduation: <span class="value">{{anticipatedGraduationDate[0]}}</span></span>
                  <span class="mentor">Mentor: <span class="value">{{mentor[1]}}</span></span>
              </li>   
               <li>
                  <span class="name">{{familyName[2]}}, {{givenName[2]}}</span>
                  <span class="dob">DOB: <span class="value">{{dob[2]}}</span></span>
                  <span class="admit-date">Admitted: <span class="value">{{admitDate}}</span></span>
                  <span class="grad-date">Anticipated Graduation: <span class="value">{{anticipatedGraduationDate[0]}}</span></span>
                  <span class="mentor">Mentor: <span class="value">{{mentor[0]}}</span></span>
              </li>  
             <li>
                  <span class="name">{{familyName[3]}}, {{givenName[3]}}</span>
                  <span class="dob">DOB: <span class="value">{{dob[3]}}</span></span>
                  <span class="admit-date">Admitted: <span class="value">{{admitDate}}</span></span>
                  <span class="grad-date">Anticipated Graduation: <span class="value">{{anticipatedGraduationDate[0]}}</span></span>
                  <span class="mentor">Mentor: <span class="value">{{mentor[1]}}</span></span>
              </li>   
             <li>
                  <span class="name">{{familyName[4]}}, {{givenName[4]}}</span>
                  <span class="dob">DOB: <span class="value">{{dob[4]}}</span></span>
                  <span class="admit-date">Admitted: <span class="value">{{admitDate}}</span></span>
                  <span class="grad-date">Anticipated Graduation: <span class="value">{{anticipatedGraduationDate[1]}}</span></span>
                  <span class="mentor">Mentor: <span class="value">{{mentor[2]}}</span></span>
              </li>   
              <li>
                  <span class="name">{{familyName[5]}}, {{givenName[5]}}</span>
                  <span class="dob">DOB: <span class="value">{{dob[5]}}</span></span>
                  <span class="admit-date">Admitted: <span class="value">{{admitDate}}</span></span>
                  <span class="grad-date">Anticipated Graduation: <span class="value">{{anticipatedGraduationDate[1]}}</span></span>
                  <span class="mentor">Mentor: <span class="value">{{mentor[1]}}</span></span>
              </li>   
              <li>
                  <span class="name">{{familyName[6]}}, {{givenName[6]}}</span>
                  <span class="dob">DOB: <span class="value">{{dob[6]}}</span></span>
                  <span class="admit-date">Admitted: <span class="value">{{admitDate}}</span></span>
                  <span class="grad-date">Anticipated Graduation: <span class="value">{{anticipatedGraduationDate[1]}}</span></span>
                  <span class="mentor">Mentor: <span class="value">{{mentor[3]}}</span></span>
              </li>   
              <li>
                  <span class="name">{{familyName[7]}}, {{givenName[7]}}</span>
                  <span class="dob">DOB: <span class="value">{{dob[7]}}</span></span>
                  <span class="admit-date">Admitted: <span class="value">{{admitDate}}</span></span>
                  <span class="grad-date">Anticipated Graduation: <span class="value">{{anticipatedGraduationDate[1]}}</span></span>
                  <span class="mentor">Mentor: <span class="value">{{mentor[4]}}</span></span>
              </li>   
              <li>
                  <span class="name">{{familyName[8]}}, {{givenName[8]}}</span>
                  <span class="dob">DOB: <span class="value">{{dob[7]}}</span></span>
                  <span class="admit-date">Admitted: <span class="value">{{admitDate}}</span></span>
                  <span class="grad-date">Anticipated Graduation: <span class="value">{{anticipatedGraduationDate[1]}}</span></span>
                  <span class="mentor">Mentor: <span class="value">{{mentor[5]}}</span></span>
              </li> 
              <li>
                  <span class="name">{{familyName[9]}}, {{givenName[9]}}</span>
                  <span class="dob">DOB: <span class="value">{{dob[7]}}</span></span>
                  <span class="admit-date">Admitted: <span class="value">{{admitDate}}</span></span>
                  <span class="grad-date">Anticipated Graduation: <span class="value">{{anticipatedGraduationDate[1]}}</span></span>
                  <span class="mentor">Mentor: <span class="value">{{mentor[6]}}</span></span>
              </li> 
              <li>
                  <span class="name">{{familyName[10]}}, {{givenName[10]}}</span>
                  <span class="dob">DOB: <span class="value">{{dob[7]}}</span></span>
                  <span class="admit-date">Admitted: <span class="value">{{admitDate}}</span></span>
                  <span class="grad-date">Anticipated Graduation: <span class="value">{{anticipatedGraduationDate[1]}}</span></span>
                  <span class="mentor">Mentor: <span class="value">{{mentor[7]}}</span></span>
              </li> 
              <li>
                  <span class="name">{{familyName[11]}}, {{givenName[11]}}</span>
                  <span class="dob">DOB: <span class="value">{{dob[7]}}</span></span>
                  <span class="admit-date">Admitted: <span class="value">{{admitDate}}</span></span>
                  <span class="grad-date">Anticipated Graduation: <span class="value">{{anticipatedGraduationDate[1]}}</span></span>
                  <span class="mentor">Mentor: <span class="value">{{mentor[8]}}</span></span>
              </li>  
          </ul>
      
</div>      
</section>
</div>


